@font-face {
	font-family: silkscreennormal;
	src: url('../assets/fonts/SilkScreen_fonts/silkscreen_normal_macroman/slkscr-webfont.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

body {
	background-color: #702e3d;
	font-family: silkscreennormal;
}

header {
	background-color: #FFFFFF;
}

.tamusa-seal {
	/*This was very tedious to get right and I still don't like having to manually set the height of the seal. If the header ever changes, this must be adjusted as well. I cannot find any Bootstrap or CSS to get this to automatically adjust itself*/
	max-height: 8.5rem;
}