@font-face {
	font-family: silkscreennormal;
	src: url('../assets/fonts/SilkScreen_fonts/silkscreen_normal_macroman/slkscr-webfont.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

body {
	background-color: #702e3d;
	font-family: silkscreennormal;
}

header {
	background-color: #FFFFFF;
}

img.tamusaseal {

}
